/***
   KeymanWeb 2.0
   Copyright 2017 SIL International
***/

/*
  kmwosk.css: main CSS for keymanweb on-screen keyboard and other objects.
*/  

@font-face {
  font-family: 'Andika Afr';
  font-style:  normal;
  font-weight: normal;
  line-height: .5;  
  src: url('fonts/ANDIKAAFR-R.TTF?#iefix') format('embedded-opentype'), 
    url('fonts/ANDIKAAFR-R.TTF')  format('truetype'),
    url('fonts/AndikaAfr-R.woff') format('woff');     
}

 
.phone.android .kmw-key.kmw-key-deadkey {color:#0F0;background:linear-gradient(to right, darkgreen 33%, darkred 33% , darkred 66%, #aaaa00 66%);border:2px solid #FFFFFF;background-color:#ddd;} */
        

/* Common key appearance styles (can override with form-factor styles if necessary) */
.kmw-key-default{color:#000;background-color:#eee;}
.kmw-key-shift{color:#aaa;background-color:#ddd;}     /*color was #88f (blue) */
.kmw-key-shift-on{color:#88f;background-color:#ccf;}
/* .kmw-key-deadkey{color:#0d0;background-color:#eee;}  */
.kmw-key-deadkey{color:#0F0;background:linear-gradient(to right, darkgreen 33%, darkred 33% , darkred 66%, #aaaa00 66%);border:2px solid #FFFFFF;background-color:#ddd;}
.kmw-key-blank{color:#000;background-color:rgba(100,100,100,0.5);}
.kmw-key-hidden{visibility:hidden;}
.kmw-key-touched{background-color:#88f;}
#default-T_0300,
#default-T_0304,
#default-T_0301,
#default-T_030C,
#default-T_0302,
#default-T_0303,
#default-T_0308,
#default-T_0327,
#shift-T_1DC5,
#shift-T_1DC6,
#shift-T_1DC7,
#shift-T_1DC4,
#shift-T_030D,
#shift-T_0330 { background: linear-gradient(darkgreen, #7f7f7f); }
#default-K_A,
#default-K_E,
#default-K_I,
#default-K_O, 
#default-K_U,
#shift-K_A,
#shift-K_E,
#shift-K_I,
#shift-K_O,
#shift-K_U,
#camlower-U_025B,
#camlower-U_0259,
#camlower-U_0153,
#camlower-U_0268,
#camlower-U_0254,
#camlower-U_00E6,
#camlower-U_03B1,
#camupper-U_0190,
#camupper-U_018F,
#camupper-U_0152,
#camupper-U_0244,
#camupper-U_0197,
#camupper-U_0186,
#camupper-U_00C6,
#camupper-U_2C6D { background: linear-gradient(#aaaa00, #7f7f7f); }

